:root {
    --green-900: hsl(183, 100%, 15%);
    --grey-500: hsl(186, 14%, 43%);
    --grey-400: hsl(184, 14%, 56%);
    --grey-300: oklch(0.75 0.03 201.76 / 1);
    --grey-200: hsl(185, 41%, 84%);
    --grey-50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);
    --btn-hover: hsl(173.08deg 61.9% 75.29%);
    --error: hsl(9.84deg 60.4% 60.39%);
    --accent: hsl(183, 100%, 15%);
    --btn-disabled: hsl(182.22deg 100% 21.18%);
    --input-outline: hsl(172.5deg 31.75% 49.41%);
    --green-600: hsl(173.47deg 100% 37.84%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--grey-200);
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
}

main {
    display: grid;
    gap: 1.5rem;
    background: white;
    max-width: 23.4375rem;
    padding: 1.5rem;
    padding-block-end: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.bill, .npeople {
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    background: var(--grey-50);
    text-align: right;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--green-900);
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
}

::placeholder {
    color: var(--grey-400);
}

label {
    font-weight: 600;
    color: var(--grey-500);
}

.output-group {
    background-color: var(--green-900);
    color: var(--white);
    padding: 1.5rem;
    padding-top: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.reset-button {
    width: 100%;
    background: var(--green-600);
    color: var(--green-900);
    padding: .8rem 1rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: auto;
}

.reset-button:hover {
    background: var(--btn-hover);
}

.output-with-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.output-value {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--green-600);
}

.tip-percent-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-block: 1rem 0.5rem ;
}

.tip-percent-options > div {
    background-color: var(--green-900);
    color: var(--white);
    padding: .5rem;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.tip-percent-options > div:hover {
    background: var(--btn-hover);
    color: var(--green-900);
}

.output-pp {
    color: var(--grey-300);
    font-size: .8rem;
}

.tip-custom {
    background: var(--grey-50);
    color: var(--green-900);
    text-align: right;
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    width: 100%;
    padding-inline: 1rem;
    font-weight: 700;
    border-radius: .4rem;
}

.tip-custom::placeholder {
    color: var(--grey-500);
}

.tip-percent-options > div[data-active="true"] {
    background: var(--green-600);
    color: var(--green-900);
}

input {
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 0.5rem;
}

.logo {
    margin-top: 3.3rem;
}

@media (min-width: 44.375rem) {
    .logo {
        margin-top: 1rem;
    }
    body {
        gap: 8.125vh;
        margin: 1rem;
        min-height: calc(100vh - 2rem);
    }
    .input-group {
        padding: 1rem;
        gap: 2.2rem;
    }
    main {
        grid-template-columns: 2fr 3fr;
        padding: 2rem;
        gap: 2rem;
        max-width: 57.5rem;
        border-radius: 1rem;
    }
    .output-group {
        height: 100%;
        margin: 0;
        padding: 2.5rem;
    }
    .output-value {
        font-size: 3rem;
    }
}

@media (min-width: 54.6875rem) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .tip-percent-options {
        grid-template-columns: 1fr 1fr 1fr;
      }
    
}

.input-label-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 0rem .3rem;
}

.error {
    color: var(--error);
    text-align: right;
    display: none;
}

input:invalid {
    outline: 0.125rem solid var(--error);
}

input:focus-visible {
    outline: 0.125rem solid var(--input-outline);
}

input:focus-visible:invalid {
    outline: 0.125rem solid var(--error);
}

.input-with-label:has(input:invalid) .error {
    display: block;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.reset-button:disabled {
    cursor:not-allowed;
    background-color: var(--btn-disabled);
}

input:hover {
    outline: 0.0625rem solid var(--input-outline);
}

.sr-only {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

div:has(> .bill){
    position: relative;
}

div:has(> .npeople) {
    position:relative;
}

div:has(> .bill):before {
    position: absolute;
    content: url('images/icon-dollar.svg');
    left: 1rem;
    top: 55%;
    translate: 0 -50%;
}

div:has(> .npeople):before {
    position: absolute;
    content: url('images/icon-person.svg');
    left: 1rem;
    top: 55%;
    translate: 0 -50%;
}