.attribution {
  font-size: .7em;
  text-align: center;
}

.attribution a {
  color: var(--link-color);
}

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --fs-text: 0.875em;
  --link-color: hsl(228, 45%, 44%);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  background: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--grey);
}

.price-new {
  color: var(--green-500);
}

h1,
.price-new {
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin-block: .4em;
  font-size: clamp(1.2em, 8.53333vw, 2em)
}

h1 {
  line-height: 1em;
  color: var(--black);
}


p {
  font-size: var(--fs-text);
  line-height: 1.6em;
}

button {
  background: var(--green-500);
  color: var(--white);
  width: 100%;
  padding-block: 1rem;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: .5rem;
  border: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.card {
  --card-margin: clamp(.3rem, 4.7vw, 1.1rem);
  width: calc(100% - 2*var(--card-margin));
  background: white;
  border-radius: .6em;
  overflow: hidden;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
}

.category {
  font-size: var(--fs-text);
  text-transform: uppercase;
  letter-spacing: .35em;
  font-size: 0.8em;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

.product-img {
  max-width: 100%;
}

.card-2 {
  padding: clamp(.3rem, 6.4vw, 1.5rem);
}

@media (min-width: 40rem) {
  .card {
    flex-direction: row;
    max-width: 38.125em;
    height: 28.5em;
  }

  .card-1 {
    flex: 1 0 50%;
  }

  .card-2 {
    padding: 2em;
  }

  p {
    margin-block: 2em;
  }
}

@media (max-width: 12.1875em) {
  button>img {
    display: none;
  }
}

.prices {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  flex-wrap: wrap;
}

.price-old {
  font-size: var(--fs-text);
}