.attribution { font-size: .7rem; text-align: center; }
.attribution a { color: var(--link); }

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --link: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--grey-500);
  margin: 2em;
}

h1, h2 {
  font-weight: 600;
  margin-block:0;
}

p {
  font-size: 0.96rem;
}

.slogan {
  font-weight: 200;
  font-size: 1.45em;
  margin-top: 3.5rem;
}

h1 {
  font-size: 1.45em;
}

h2 {
  font-size: 1.27em;
}

article {
  padding: 1.5em;
  box-shadow: .2em .5em 2em -.9em var(--grey-400);
  border-radius: .5em;
  padding-bottom: 0em
}

.cards {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-areas: "S" "T" "K" "C";
  max-width: 68.75rem;
  margin-inline: auto;
}

article:nth-of-type(1) {
  grid-area: S;
  border-top: .3rem solid var(--cyan);
}

article:nth-of-type(2) {
  grid-area: T;
  border-top: .3rem solid var(--red);
}

article:nth-of-type(3) {
  grid-area: K;
  border-top: .3rem solid var(--orange);
}

article:nth-of-type(4) {
  border-top: .3rem solid var(--blue);
  grid-area: C;
}

header {
  text-align: center;
  width: 100%;
}

header p {
  max-width: 29rem;
  margin-inline: auto;
}

@media (min-width: 34.375rem) {
  .cards {
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas:
      "S T"
      "K C";
  }
  .slogan, h1 {
    font-size: 2rem;
  }
}

article p {
  font-size: .82rem;
  margin-top: .4rem;
}

@media (min-width: 50rem) {
  .cards {
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas:
      ". T ."
      "S T C"
      "S K C"
      ". K .";
    margin-top: 4.5em;
  }
  body{
    margin-top: 6.32rem;
  }
  article > img {
    margin-top: 1.8rem;
    margin-bottom: 2.5rem;
  }
  article p {
    font-size: .8rem;
  }
  .slogan, h1 {
    font-size: 2.3rem;
  }
  h1 {
    line-height: 1.2em;
  }
  .hook {
    max-width: 34em;
    margin-top: 1rem;
  }
}

img {
  float: right;
  margin-block: 2.4em;
}

.hook {
  margin-bottom: 3.6em;
}


.slogan {
   margin-bottom: 0
}

