.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
  font-family: "Outfit", Arial, sans-serif;
  color: var(--stone-600);
  margin: 0;
  background: var(--stone-100);
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}


h1, h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--stone-900)
}

h2 {
  color: var(--brown-800);
  font-size: 1.8rem;
}

b {
  /* 600 or 700? */
  font-weight: 700;
  color: var(--stone-600)
}

.prep-time {
  background: var(--rose-50);
  padding: 1.5em;
  border-radius: .5em;
}

.prep-time ::marker {
  color: var(--rose-800);
}

.prep-title {
  font-weight: 600;
  color: var(--rose-800);
  font-size: 1.25rem;
}

.prep-time > ul {
  margin-bottom: 0;
}

.food-img {
  max-width: 100%;
}

.wrapper {
  max-width: 700px;
  margin-inline: auto;
  background: white;
}

.wrapper > *:not(img) {
  margin-inline: 2rem;
}

li + li {
  margin-top: .5rem;
}

p, li {
  line-height: 1.6em;
}

ol ::marker,
#ingredients ::marker {
  color: var(--brown-800);
  font-weight: 700;
}

ul, ol {
  padding-inline-start: 1.6em;
}

td:nth-of-type(1) {
  padding-left: 2em;
}

td:nth-of-type(2) {
  color: var(--brown-800);
  font-weight: 700;
}

table {
  width: calc(100% - 4rem);
  border-collapse: collapse;
}

td {
  width: 50%;
  height: 2.8em;
}


tr:not(:first-of-type) > td {
  border-top: 1px solid var(--stone-100);
}

hr {
  color: var(--stone-150);
}
