* {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  background: var(--grey-100);
  margin: 1em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

article {
  outline: 1px solid;
  max-width: 600px;
  padding: 3rem;
  border-radius: .5rem;
}

:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  font-size: 62.5%;
}

article:nth-of-type(1) {
  grid-area: Da;
  background: var(--purple-500);
  color: var(--white);
}

article:nth-of-type(2) {
  grid-area: Jo;
  background: var(--grey-500);
  color: var(--white);
}

article:nth-of-type(3) {
  grid-area: Ja;
  background: var(--white);
  color: var(--grey-500);
}

article:nth-of-type(4) {
  grid-area: Pa;
  background: var(--black);
  color: var(--grey-200);
}

article:nth-of-type(5) {
  grid-area: Ki;
  background: var(--white);
  color: var(--grey-500);
}

main {
  display: grid;
  gap: 3rem;
  grid-template-areas: "Da" "Jo" "Ja" "Pa" "Ki"
}

@media (min-width: 1100px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "Da Da Jo Ki"
      "Ja Pa Pa Ki"
  }
}

.pitch {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 1rem;
}

img {
  border-radius: 50%;
  height: 3rem;
  grid-area: P;
}

.user div:nth-of-type(1) {
  grid-area: N;
  font-size: 1.5rem;
}

.user div:nth-of-type(2) {
  grid-area: S
}

.user {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-areas:
    "P N"
    "P S"
}
