* {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  background: var(--grey-100);
  margin: 3rem;
  display: flex;
  min-height: calc(100vh - 6rem);
}

.attribution { font-size: 1.1rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

article {
  max-width: 60rem;
  padding: 3.6rem;
  border-radius: .75rem;
  box-shadow: .5rem .5rem 2rem 1rem var(--grey-200);
  position: relative;
}

:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  font-size: 62.5%;
}

article:nth-of-type(1) {
  grid-area: Da;
  background: var(--purple-500);
  color: var(--white);
}

article:nth-of-type(2) {
  grid-area: Jo;
  background: var(--grey-500);
  color: var(--white);
}

article:nth-of-type(3) {
  grid-area: Ja;
  background: var(--white);
  color: var(--grey-500);
}

article:nth-of-type(4) {
  grid-area: Pa;
  background: var(--dark-blue);
  color: var(--grey-200);
}

article:nth-of-type(5) {
  grid-area: Ki;
  background: var(--white);
  color: var(--grey-500);
}

main {
  display: grid;
  gap: 3rem;
  grid-template-areas: "Da" "Jo" "Ja" "Pa" "Ki";
  max-width: 111rem;
  margin: auto;
  width: fit-content;
}

.pitch {
  font-size: 1.55em;
  line-height: 2.45rem;
  font-weight: 600;
  margin-block: 1.4rem;
}

.quote {
  color: var(--grey-100);
  line-height: 1.85rem;
  font-size: 1.325rem;
}

.quote-light {
  color: var(--grey-400)
}

.user div:nth-of-type(1) {
  grid-area: N;
  font-size: 1.3rem;
  font-weight: 600;
}

.user div:nth-of-type(2) {
  grid-area: S;
  font-size: 1.1rem;
}

.big-quotes {
  position: absolute;
  top: 0;
  right: 5.5rem;
  height: 10.5rem;
  awidth: 11.5rem;
  aspect-ratio: 104 / 102;
  border-radius: 0;
  display: none;
}


@media (min-width: 50rem) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "Da Da"
      "Jo Ja"
      "Pa Pa"
      "Ki Ki";
  }
}

@media (min-width: 690px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "Da Da Jo"
      "Ja Pa Pa"
      "Ki Ki ."
  }
  .big-quotes {
    display: block;
  }
}

@media (min-width: 950px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "Da Da Jo Ki"
      "Ja Pa Pa Ki"
  }
  .pitch {
    font-size: 1.99rem;
    margin-top: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: 1rem;
  }
  .quote {
    line-height: 1.8rem;
    font-size: 1.3rem;
  }
}

img {
  border-radius: 50%;
  height: 3rem;
  grid-area: P;
}


.user {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-areas:
    "P N"
    "P S"
}

footer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

img[alt="avatar patrick"] {
  outline: .15rem solid var(--purple-500);
}

img[alt="avatar daniel"] {
  outline: .15rem solid var(--purple-300);
}
