* {
  margin: 0;
  padding: 0;
}

:root {
  --purple-600: hsl(246, 80%, 60%);
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --link: hsl(228, 45%, 44%);
  --navy-100: hsl(236, 100%, 92%);
  --navy-50: hsl(236, 100%, 96%);
  --navy-800: hsl(232.84deg 38.73% 33.94%);
}

.card {
  border-radius: 1rem;
  background: var(--navy-900);
  position: relative;
  overflow: hidden;
}

body {
  background: var(--navy-950);
  color: var(--navy-200);
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  margin: 1.5rem;
  min-height: calc(100vh - 3rem);
  display: flex;;
}

.attribution {
  font-size: .7rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: none;
}

.attribution a {
  color: var(--link);
}

.avatar {
  width: 4rem;
  height: 4rem;
  outline: .2rem solid var(--white);
  border-radius: 50%;
}


.card-top {
  padding: 1.5rem;
  border-radius: 1rem;
  background: var(--navy-900);
  position: relative;
}

.user-info {
  background: var(--purple-600);
  display: flex;
  gap: 1rem;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white);
}

.select-period {
  padding: 1.5rem 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.cards-grid {
  display: grid;
  gap: 1.8rem;
  margin: auto;
  max-width: 68.75rem;
  width: 100%;
}

.activity-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-menu {
  content: url("images/icon-ellipsis.svg");
  height: 0.3125rem;
  width: 1.3125rem;
}

.activity-menu:hover {
  filter:brightness(200%);
}

.activity-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value-current {
  font-size: 2rem;
  font-weight: 300;
  color: var(--white);
}

h2 {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--white);
}

.activity-card {
  padding-top: 3rem;
}

.activity-img {
  position: absolute;
  top: -.5rem;
  right: 0;
}

.select-period > *{
  cursor: pointer;
}

.select-period > *[selected]{
  color: var(--white);
}

.activity-card:hover > .card-top {
  background: var(--navy-800);
  cursor: pointer;
}

@media (hover: hover) {
  .select-period > *:hover{
    color: var( --navy-100);
  }
}

.value-previous {
  font-size: .95rem;
  padding-left: 1rem;
  text-align: right;
}

@media (min-width: 29.75rem) {
  .cards-grid {
    grid-template-columns: 1fr 1fr ;
  }
  .card-user {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
  }
  .user-info {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.8rem;
    padding-top: 2.3rem;
  }
  .select-period {
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 1.5rem 2rem;
    padding-left: 2rem;
  }
  .activity-values {
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    font-size: 2.6rem;
    margin-block-end: 4rem;
  }
  .value-current {
    font-size: 3.5rem;
    margin-block: 2rem .5rem;
  }
  .value-previous {
    padding-left: 0;
  }
  .avatar {
    width: 4.6rem;
    height: 4.6rem;
  }
}

@media (min-width: 41.25rem) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 56.5625rem) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.navy-50 {
  color: var(--navy-50)
}