* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 2em);
}

h1 {
  font-size: 1.5rem;
}

.card {
  awidth: 400px;
  outline: 1px solid;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.card-footer {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-areas: 
    "A N S"
    "A D S"
}

.avatar {
  grid-area: A;
  width: 40px;
  border-radius: 50%;
}

.name { grid-area: N}

.date { grid-area: D}

.share { 
  grid-area: S;
  background: #dddddd;
  display: flex;
  padding: .5em;
  border-radius: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }

.card-img {
  object-fit: cover;
  max-width: 100%;
}

.card-content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width:700px) {
  .card {
     flex-direction: row;
     max-width: 860px;
  }
  .card-img {
     width: 350px;
     height: 350px;
  }
}

